body {
    align-content: center;
    text-align: center;
    background-color: #333;
    overflow-y: hidden;
    color: #fafafa;
    font-family: system-ui;
}

button {
    background: #bbb;
    display: block;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    width: 80px;
    font-size: 16px;
    color: #232b2b;
    box-shadow: 0 -30px 50px #aaa inset, 0 0 15px #222 inset;
    border: 1px solid #bbb;
    outline: none;
}
.main-grid {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex: 3;
}
.previous {
    justify-content: center;
    align-items: center;
    margin: 17%;
}
.score-card {
    margin: 17%;
}
.score-card span{
    font-size: 1.5rem;
}
.score-display{
    color: #ffd700;
}
.lines-display{
    color: #008000;
}
.top-container {
    margin: 2rem 2rem 2rem 3.5rem;
    background: initial;
    height: initial;
    width: initial;
    box-shadow: none;
    border: none;
}
.top-container p {
    padding: 10px;
}

.grid {
    background-color: blue;
    height: 300px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.previus-grid {
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
}

.previus-shape {
    height: 80px;
    width: 80px;
}

.block {
  
        background-color: #0d0da8;
    box-shadow: 0 -2px 4px #232b2b inset, 0 0 1.5px #222 inset;

}

.block2 {
    background-color: purple;
}

.block3 {
    background-color: #008000;
    box-shadow: 0 -3px 5px #042e04 inset, 0 0 1.5px #222 inset;
}
div {
    background-color: #ffd700;
    height: 20px;
    width: 20px;
    box-shadow: 0 -3px 5px #a8900d inset, 0 0 1.5px #222 inset;
    /*border: 1px solid #bbb;*/
}
